.main {
	width: 100%;
	height: 100vh;
	max-height: calc(100vh - 5rem);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__box {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	width: 30%;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.input__box {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.input__box label {
	opacity: 0.8;
	font-size: 0.9rem;
}

.input__box input {
	padding: .5rem;
	border-radius: 0.5rem;
	background-color: #252325;
	border: none;
	color: white;
}

/* .input__box input::placeholder { */
/* } */

.input__box input:focus {
	outline: none;
}

.form__button {
	background-color: var(--light-blue);
	border: none;
	color: black;
	padding: 0.5rem;
	font-weight: 600;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.form__box {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.form__box {
		width: 90%;
	}
}

